<div class="buyers-guides">
    <div class="container">
        @@include('_header-block.html',{subtitle:"Buyer's guides",title:"Navigating our offering.",comment:"Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula. Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt."})
   <div class="buyers-guides__inner">
       @@include('_buyers-guides-card.html',{img:"./img/buyers-guides/1.png",comment:"3 climbing accessories for the climber that has everything",icon:"../img/buyers-guides/icon.png",name:"Alex Jenna",subname:"QA",info:"October 18, 2021"})
       @@include('_buyers-guides-card.html',{img:"./img/buyers-guides/2.png",comment:"Biking accessories for the beaten path",icon:"../img/buyers-guides/icon2.png",name:"Woodie Brandon",subname:"Product Designer",info:"October 18, 2021"})
    </div>
    <div style="text-align: center;">
    @@include('_link-item.html',{link:"#",namelink:"Show all categories"})
</div>
</div>
</div>

 