<div class="buyers-guides-card">
  <div class="buyers-guides-card__inner">
    <img class="buyers-guides-card__image" src="@@img" alt="" />
  
    <p class="buyers-guides-card__comment title-nr">@@comment</p>
    <div class="buyers-guides-card__profile profile">
      <div class="profile__inner">
        <img class="profile__image" src="@@icon" alt="" />
        <div>
          <p class="profile__name text-nr">@@name</p>
          <p class="profile__subname text-nr color-warning">@@subname</p>
        </div>
      </div>
      <time class="profile__info">@@info</time>
    </div>

  </div>
</div>
