<div class="footer">
  <div class="container">
    <img class="footer__logo" src="../img/footer/footer-logo.png" alt="" />
    <div class="footer__inner">
      @@include('../components/_footer-nav.html',{link:"#",name:"Pages",line1:"Home",line2:"Shop",line3:"Categories",line4:"Buyer's guides",line5:"404 ",line6:"Password",})
      @@include('../components/_footer-nav.html',{link:"#",name:"Gear categories",line1:"Hiking Gear",line2:"Climbing Gear",line3:"Jackets",line4:"Accessories",line5:"Apparel",line6:"Headwear",})
      @@include('../components/_footer-nav.html',{link:"#",name:"Company",line1:"About us",line2:"Our team",line3:"Contact",line4:"Terms & Conditions",line5:"Style guide",line6:"Licenses",})
      @@include('../components/_footer-newsletter.html')
    </div>
    <div class="footer__copyright">
      <p class="copyright__text text-md color-light">© Outdoor Exploration, LLC. All rights reserved. Powered by Webflow</p>
    @@include('../components/_social.html')
    </div>
  </div>
</div>
