<div class="footer-nav">
  <p class="footer-nav__name text-md color-warning">@@name</p>
  <ul class="footer-nav__list text-md color-light">
    <li class="footer-nav__list-item">
      <a class="footer-nav__link" href="@@link">@@line1</a>
    </li>
    <li class="footer-nav__list-item">
      <a class="footer-nav__link" href="@@link">@@line2</a>
    </li>
    <li class="footer-nav__list-item">
      <a class="footer-nav__link" href="@@link">@@line3</a>
    </li>
    <li class="footer-nav__list-item">
      <a class="footer-nav__link" href="@@link">@@line4</a>
    </li>
    <li class="footer-nav__list-item">
      <a class="footer-nav__link" href="@@link">@@line5</a>
    </li>
    <li class="footer-nav__list-item">
      <a class="footer-nav__link" href="@@link">@@line6</a>
    </li>
  </ul>
</div>
