<header class="header">
  <div class="container">
    <div class="header__inner">
      <img class="header__logo" src="/img/header-logo.png" alt="" />

      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__link">
            <a class="text-nr color-secondary-dark" href="./target.html">Shop</a>
          </li>
          <li class="nav__link">
            <a class="text-nr color-secondary-dark" href="">About us </a>
          </li>
          <li class="nav__link">
            <a class="text-nr color-secondary-dark" href="">Our team</a>
          </li>
          <li class="nav__link">
            <a class="text-nr color-secondary-dark" href="">Buyer's guides </a>
          </li>
          <li class="nav__link">
            <a class="text-nr color-secondary-dark" href="">Categories</a>
          </li>
        </ul>
      </nav>
      <button class="header__btn custom-btn custom-btn--secondary-deep">
        Buy template
      </button>
      <button
        class="header__btn custom-btn custom-btn--secondary-deep custom-btn--md"
      >
        <svg class="header__btn-icon"><use xlink:href="#basket" /></svg>
        <span>Cart</span>
        <span class="basket-counter js-basket-counter color-secondary-dark"
          >0</span
        >
      </button>
    </div>
  </div>
</header>
