<div class="meet-family">
  <div class="container">
    @@include('_header-block.html',{subtitle:"Meet the family",title:"What we have in store for you.",comment:"Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula. Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt."})
      <div class="meet-family__cards">
        @@include('_meet-family-card.html',{img:"../img/meet-family/1.png",title:"Accessories",comment:"Accessories you didn't know you needed.",linkcard:"",text:"View Accessories"})
        @@include('_meet-family-card.html',{img:"../img/meet-family/2.png",title:"Apparel",comment:"Check out our line of non-hiking clothes.",linkcard:"",text:"View Apparel"})
        @@include('_meet-family-card.html',{img:"../img/meet-family/3.png",title:"Climbing Gear",comment:"Climbing gear for every occasion.",linkcard:"",text:"View Climbing Gear"})
        @@include('_meet-family-card.html',{img:"../img/meet-family/4.png",title:"Headwear",comment:"Our beanies are so comfy you won't believe it.",linkcard:"",text:"View Headwear"})
        @@include('_meet-family-card.html',{img:"../img/meet-family/5.png",title:"Hiking Gear",comment:"Desert or mountain? Doesn't matter.",linkcard:"",text:"View Hiking Gear"})
        @@include('_meet-family-card.html',{img:"../img/meet-family/6.png",title:"Jackets",comment:"Our jackets are perfect for every season.",linkcard:"",text:"View Jackets"})
      </div>
     @@include('_link-item.html',{link:"#",namelink:"Show all categories"})
  </div>
</div>
