<div class="our-promise">
    <img class="our-promise-top" src="./img/our-promise/top.svg" alt="">
    <img class="our-promise-bottom" src="./img/our-promise/bottom.svg" alt="">
    <div class="container">
        @@include('_header-block.html',{subtitle:"Our promise",title:"Setting the bar for our products.",comment:"Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula. Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt."})
        <div class="our-promise__cards">
            @@include('_our-promise-card.html',{img:"../img/our-promise/1.svg",title:"Sustainable sourcing",comment:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."})
            @@include('_our-promise-card.html',{img:"../img/our-promise/2.svg",title:"Lifetime warranty",comment:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."})
            @@include('_our-promise-card.html',{img:"../img/our-promise/3.svg",title:"All-terrain tested",comment:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."})
            @@include('_our-promise-card.html',{img:"../img/our-promise/4.svg",title:"Premium materials",comment:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."})
            @@include('_our-promise-card.html',{img:"../img/our-promise/5.svg",title:"Designed by you",comment:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."})
            @@include('_our-promise-card.html',{img:"../img/our-promise/6.svg",title:"Quality assured",comment:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."})
        </div>
    </div>
</div>