<div class="read-more">
  <img class="read-more__svg-top" src="./img/read-more/bg.svg" alt="">
  <img class="read-more__svg-bottom" src="./img/read-more/bg.svg" alt="">
  
  <div class="container">
    <div class="read-more__inner">
     <img class="read-more__image" src="@@img" alt="" />
      <div class="read-more__content">
        <p class="abou__subtitle text-md color-warning">@@subtitle</p>
        <h2 class="read-more__title title-lg">@@title</h2>
        <p class="read-more__comment color-secondary-deep">
          @@comment
        </p>
        @@include('_link-item.html',{link:"#",namelink:"Read more"})
      </div>
    </div>
  </div>
</div>