<div class="shop-previous">
    <div class="containe">
        <div class="position">
        <div class="shop-previous__inner">
            <ul class="shop-previous__list text-sm color-light">
                <li class="shop-previous__item">
                    <a class="shop-previous__link" href=""> 
                        <img class="shop-previous__icon" src="./img/shop/shop-previous/1.svg" alt=""> 
                        <span> First Aid Kit</span>
                    </a>
                </li>
                <li class="shop-previous__item">
                    <a class="shop-previous__link" href=""> 
                        <span> First Aid Kit</span>
                    </a>
                </li>
                <li class="shop-previous__item">
                    <a class="shop-previous__link" href=""> 
                        <img class="shop-previous__icon" src="./img/shop/shop-previous/2.svg" alt=""> 
                        <span> First Aid Kit</span>
                    </a>
                </li>
                <li class="shop-previous__item">
                    <a class="shop-previous__link" href=""> 
                        <img class="shop-previous__icon" src="./img/shop/shop-previous/3.svg" alt=""> 
                        <span> First Aid Kit</span>
                    </a>
                </li>
                <li class="shop-previous__item">
                    <a class="shop-previous__link" href=""> 
                        <img class="shop-previous__icon" src="./img/shop/shop-previous/4.svg" alt=""> 
                        <span> First Aid Kit</span>
                    </a>
                </li>
                <li class="shop-previous__item">
                    <a class="shop-previous__link" href=""> 
                        <span> First Aid Kit</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>