<div class="shop">
    @@include('../components/_shop-previous.html')
    <div class="container">
        <div class="shop__content">
            <p class="shop__subtitle text-md color-light">Shop</p>
            <h2 class="shop__title title-lg color-warning">Check out our products.</h2>
            <p class="shop__comment color-light">Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula. Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt.</p>
            <div>
            <a class="shop__link custom-btn--light custom-btn--nr text-lg" href="">Visit shop</a>
            </div>
        </div>
    </div>
</div>