.header {
  width: 100%;
  background-color: rgb(211, 248, 248);
  //   .header__inner
  &__inner {
    align-items: center;
    height: 79px;
    padding: 20px 0;
    display: flex;
  }

  //   .header__logo
  &__logo {
    margin-right: auto;
    max-width: 128px;
    max-height: 40px;
  }

  //   .header__btn {
  &__btn {
    &:not(:first-child) {
      margin-left: 20px;
      @media (max-width:$breakpoint-tablet) {
        display: none ;
      }
    }
  }
  &__btn-icon {
    margin-right: 8px;
    width: 17px;
    height: 17px;
    fill: $color-light;
  }
}

.nav {
  @media (max-width:$breakpoint-tablet) {
    display: none;
  }
  // .nav__list
  &__list {
    margin-right: 40px;
    display: flex;
  
  }
  //   .nav__link
  &__link {
    &:not(:last-child) {
      margin-right: 28px;
     
    }
  }
}

.basket-counter {
  margin-left: 8px;
  border-radius: 9px;
  min-width: 20px;
  height: 18px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  background-color: $color-light;
}
